<div class="about">
  <h1 class="about-header">About Me</h1>
  <h2>
    My name is Amir. <br />
    I'm a <b>Computer Programming</b> student at <b>Seneca College</b>.
  </h2>

  <div class="about-background" [style.margin-bottom]="'2em'"></div>
  <div class="about-alert">
    <strong><p>This profile will get updated soon!</p></strong>
  </div>
  <!-- <img src="../../assets/about_cover.jpg" style="bno-repeat;" /> -->
  <!-- <mat-card
  [style.background]="
        'url('./assets/about_cover.jpg') no-repeat center center'
      "
  [style.background-size]="'cover'"
  [style.height]="'550px'"
>
</mat-card>
<br /><br /> -->
</div>
